<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="containers">
        <img src="../assets/images/order.png" alt="">
        <div class="main">
            <div class="heading">
                <img src="../assets/images/restaurant-1.png" alt="">
                <h3>{{selectedRestaurantData.restaurantName}} Cafe !</h3>
            </div>
            <span class="status">Status : Currently {{status}}</span>
            <div class="details">
                <div class="detail">
                    <b>Time</b>
                    <img src="../assets/images/time.png" alt="">
                    <span>{{open}} - {{close}}</span>
                </div>
                <div class="detail">
                    <b>Location</b>
                    <img src="../assets/images/location.png" alt="">
                    <span>{{location}}</span>
                </div>
            </div>
            <button (click)="getMenu(selectedRestaurantData.restaurantName)">Get Menu</button>
        </div>
    </div>
</body>

</html>
