<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>

  <div class="loading-popup" *ngIf="loading">
    <div class="loader"></div>
  </div>


  <div class="container" style="padding: 5% 0%;">
    <div style="display: flex; justify-content: space-between; align-items: center;">
      <h4>Item's Cart : ({{totalCarts}})</h4>
      <div style="display: flex; gap: 10px;">
        <button *ngIf="selectedRestaurant == null" class="btn add" (click)="searchRestaurant()">Search Restaurant</button>
        <button *ngIf="selectedRestaurant != null" class="btn add" (click)="addMoreItem()">Add +</button>
        <!-- <button class="btn" style=" font-weight: bold;" routerLink="/profile">Order History</button> -->
      </div>
    </div>

    <table>
      <thead *ngIf="foods.length != 0">
        <tr>
          <th>Item Name</th>
          <th>Price</th>
          <th>Quantity</th>
          <th>Total Price</th>
          <th>Remove</th>
        </tr>
      </thead>
      <tbody *ngFor="let food of foods">
        <tr>
          <td>{{food.itemrName}}</td>
          <td>{{ food.itemPrice| currency : 'INR'}}</td>
          <td class="update">{{food.itemQuantity}}
            <div style="display: flex; gap: 10px; padding: 0px;">
              <button class="btn tiny" #plus (click)="updateQuantity(food, true, food.itemQuantity)"> + </button>
              <button class="btn tiny" [disabled]="food.itemQuantity == 1" #minus
                (click)="updateQuantity(food, false, food.itemQuantity)"> - </button>
            </div>
          </td>
          <td>{{ food.totalPrice | currency : 'INR'}}</td>
          <td><img src="../assets/images/delete.png" alt="remove" (click)="deleteItem(food)"></td>
        </tr>
      </tbody>
    </table>
    <div *ngIf="foods.length == 0" class="container center">
      <h3 style="font-weight: bold; color: rgb(189, 189, 189);">Cart is Empty !</h3>
    </div>
    <br><br>
    <div class="order" *ngIf="foods.length != 0">
      <div class="total">Your order will cost {{ total | currency : 'INR'}}</div>
      <button class="btn place" (click)="order()" [disabled]=" ">Place Order</button>
    </div>
  </div>
</body>

</html>
