<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="containers">
        <span style="flex: 1;"></span>
        <img src="../assets/images/welcome.png" alt="">
        <div class="main">
            <div class="heading"><h3>welcome to FOOD COURTE</h3><img src="../assets/images/restaurant-1.png" alt=""></div>
            <div class="search">
              <p>Search for a restaurant:</p>
                <div class="searching">
                    <input type="text" [(ngModel)]="selectedRestaurants" (input)="onInput()" placeholder="Enter Restaurant Name" required>
                    <button (click)="onSearchClick()">Search</button>
                </div>
                <div *ngIf="selectedRestaurants">
                    <div class="suggestion" *ngFor="let restaurant of filteredRestaurants"
                        (click)="onSelect(restaurant.restaurantName)">
                        {{restaurant.restaurantName}}
                    </div>
                </div>
            </div>
            <p class="error">{{error}}</p>
        </div>
        <span style="flex: 1;"></span>
    </div>
</body>

</html>
