h5 {
  color: #002233;
  font-weight: bold;
}

img {
  cursor: pointer;
  width: 25px;
  height: 25px;
}

a {
  color: #002233;
  font-weight: bold;
  font-size: 12px;
  cursor: pointer;
}

a:hover {
  color: #006ba0;
}

.data {
  border: 1px solid #000;
  border-radius: 5px;
  padding: 20px 50px;
  padding-bottom: 5px;
  font-size: 17px;
  font-weight: bold;
}

