<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <img src="../assets/images/home.png" alt="">
        <div class="main">
            <h3>BEST FOOD QUALITY !</h3>
            <P>We are extremely proud of our reputation for exceptional service and fresh, wholesome food which brings many of our guests back to us time and again. Ask any of our local and frequent diners and they will tell you we are a place where they can get a home-cooked meal and feel like family.</P>
            <button (click)="loginCustomer()">Get Start <i class="tiny material-icons">play_arrow</i></button>
        </div>
    </div>
</body>
</html>
